{
  "root": true,
  "extends": ["airbnb", "airbnb/hooks", "prettier"],
  "rules": {
    "import/prefer-default-export": "off",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "no-console": ["error", { "allow": ["warn", "error"] }],

    // Best Practices
    "curly":      "error",
    "eqeqeq":     "error",
    "no-eq-null": "error",
    "no-use-before-define": ["error", "nofunc"],

    // for now used very simple lists
    "react/no-array-index-key": "off",
    "prefer-destructuring": "off"
  },
  "parser": "@babel/eslint-parser",
  "settings": {
    "import/resolver": {
      "alias": [
        ["@components", "./src/components"],
        ["@styles", "./src/styles"],
        ["@pages", "./src/pages"],
        ["@images", "./src/images"],
        ["@fonts", "./src/fonts"],
        ["@config", "./src/config"],
        ["@hooks", "./src/hooks"],
        ["@utils", "./src/utils"]
      ],
      "node": {
        "extensions": [".js", ".jsx"]
      }
    }
  },
  "env": {
    "browser": true
  },
  // ignore gatsby default code
  "ignorePatterns": "src/html.js"
}