{
  "root": true,
  "extends": ["airbnb", "airbnb/hooks"],
  "rules": {
    "import/prefer-default-export": "off",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
  },
  "settings": {
    "import/resolver": {
      "alias": [
        ["@components", "./src/components"],
        ["@styles", "./src/styles"],
        ["@pages", "./src/pages"],
        ["@images", "./src/images"],
        ["@fonts", "./src/fonts"],
        ["@config", "./src/config"],
        ["@hooks", "./src/hooks"],
        ["@utils", "./src/utils"]
      ],
      "node": {
        "extensions": [".js", ".jsx"]
      }
    }
  },
  "env": {
    "browser": true
  }
}